version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5

  - package-ecosystem: npm
    directory: "/app"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    groups:
      frontend:
        patterns:
          - "*react*"
          - "*redux*"
          - "antd"
          - "@ant-design*"
      electron:
        patterns: ["*electron*"]
      eslint:
        patterns: ["*eslint*"]
      vite:
        patterns: ["*vite*"]
      dependencies:
        exclude-patterns:
          - "*react*"
          - "*redux*"
          - "antd"
          - "@ant-design*"
          - "*electron*"
          - "*eslint*"
          - "*vite*"
        dependency-type: "production"
      dev-dependencies:
        exclude-patterns:
          - "*react*"
          - "*redux*"
          - "antd"
          - "@ant-design*"
          - "*electron*"
          - "*eslint*"
          - "*vite*"
        dependency-type: "development"

  # Python development dependencies
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    allow:
      - dependency-type: "development"
  - package-ecosystem: "pip"
    directory: "/client"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    allow:
      - dependency-type: "development"
    ignore:
      - dependency-name: "pyqt*"
    groups:
      dev-dependencies:
        patterns: ["*"]
        dependency-type: "development"
  - package-ecosystem: "pip"
    directory: "/export"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    allow:
      - dependency-type: "development"
    groups:
      dev-dependencies:
        patterns: ["*"]
        dependency-type: "development"
  - package-ecosystem: "pip"
    directory: "/log"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    allow:
      - dependency-type: "development"
    groups:
      dev-dependencies:
        patterns: ["*"]
        dependency-type: "development"
  - package-ecosystem: "pip"
    directory: "/proxy"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 5
    allow:
      - dependency-type: "development"
    groups:
      dev-dependencies:
        patterns: ["*"]
        dependency-type: "development"
