include LICENSE
include README.md
include changelog.md
include build-requirements.txt
include requirements.txt
include securedrop-log*
include securedrop-redis-log
include securedrop.Log
include sd-rsyslog*
include sdlog.conf
include VERSION