include requirements.txt
include README.md
include LICENSE
include setup.py
include Pipfile
include Pipfile.lock
include files/alembic.ini
include files/client.ini
include files/securedrop-client
include files/securedrop-client.desktop

recursive-include alembic *
recursive-include securedrop_client *
	
recursive-exclude alembic *.pyc
recursive-exclude securedrop_client *.pyc
