[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
SQLALchemy = "==1.2.13"
alembic = "==1.0.2"
securedrop-sdk = "==0.0.4"
"pathlib2" = "==2.3.2"
arrow = "==0.12.1"
certifi = "==2018.10.15"
chardet = "==3.0.4"
idna = "==2.7"
mako = "==1.0.7"
markupsafe = "==1.0"
python-dateutil = "==2.7.5"
python-editor = "==1.0.3"
requests = "==2.20.0"
six = "==1.11.0"
urllib3 = "==1.24"

[dev-packages]
atomicwrites = "==1.2.1"
attrs = "==18.2.0"
click = "==7.0"
coverage = "==4.5.1"
flake8 = "==3.6.0"
mccabe = "==0.6.1"
more-itertools = "==4.3.0"
pathlib2 = "==2.3.2"
pip-tools = "==3.1.0"
pluggy = "==0.8.0"
py = "==1.7.0"
pycodestyle = "==2.4.0"
pyflakes = "==2.0.0"
pyqt5 = "==5.10.1"
pytest-cov = "==2.6.0"
pytest-random-order = "==1.0.0"
pytest = "==3.9.3"
sip = "==4.19.8"
six = "==1.11.0"
