[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[requires]
python_version = "3.5"

[packages]
furl = "==2.0.0"
pyyaml = "==3.13"
requests = "==2.20.0"
werkzeug = "==0.14.1"

[dev-packages]
vcrpy = "==2.0.1"
