[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

# Python 3.5.3 is what is in stretch
[requires]
python_version = "3.5"

[packages]
arrow = "*"
alembic = "*"
python-dateutil = "*"
sip = "*"
securedrop-sdk = ">=0.0.8"
SQLALchemy = "*"

[dev-packages]
flake8 = "*"
pyqt5 = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-random-order = "*"
mypy = "*"
