[Unit]
Description=securedrop logging Service
After=network.target redis.service
Requires=redis.service
ConditionalHost=sd-log

[Service]
Type=simple
User=user
ExecStart=/usr/sbin/securedrop-log-saver
Restart=on-abort

[Install]
WantedBy=multi-user.target
