#ModalDialog {
    min-width: 800px;
    max-width: 800px;
    min-height: 300px;
    max-height: 800px;
    background-color: #fff;
}

#ModalDialog_header_icon, #ModalDialog_header_spinner {
    min-width: 80px;
    max-width: 80px;
    min-height: 64px;
    max-height: 64px;
    margin: 0px 0px 0px 30px;
}

#ModalDialog_header {
    min-height: 68px;
    max-height: 68px;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 600;
    color: #2a319d;
}

#ModalDialog_header_line {
    margin: 0;
    min-height: 2px;
    max-height: 2px;
    background-color: rgba(42, 49, 157, 0.15);
    border: none;
}

#ModalDialog_body {
    font-family: 'Montserrat';
    font-size: 16px;
    color: #302aa3;
    margin: 0;
    padding: 0;
}

#ModalDialogConfirmation {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    color: #302aa3;
    margin: 0;
}

#ModalDialog.dangerous #ModalDialogConfirmation {
    color: #ff3366;
}

#ModalDialog_button_box {
    border: 1px solid #ff0000;
}

#ModalDialog_button_box QPushButton {
    margin: 0px 0px 0px 12px;
    height: 40px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #2a319d;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    color: #2a319d;
}

#ModalDialog_button_box QPushButton::disabled {
    border: 2px solid rgba(42, 49, 157, 0.4);
    color: rgba(42, 49, 157, 0.4);
}

#ExportDialog_passphrase_form QLabel {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    color: #2a319d;
    padding-top: 6px;
}

#ExportDialog_passphrase_form QLineEdit {
    border-radius: 0px;
    min-height: 30px;
    max-height: 30px;
    background-color: #f8f8f8;
    padding-bottom: 2px;
}
