#SourceWidget_name {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    color: #383838;
}

#SourceWidget_name_unread {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 13px;
    color: #000;
}

#SourceWidget_name_selected {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
    color: #2a319d;
}

#SourceWidget_name.deleting {
    color: #8e8e92;
    font-style: italic;
}

#SourceWidget_name_selected.deleting {
    color: #797fc3;
    font-style: italic;
}
