#SourceWidget_preview {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 13px;
    color: #383838;
}

#SourceWidget_preview_unread {
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-size: 13px;
    color: #000;
}

#SourceWidget_preview.conversation_deleted {
    color: #8e8e92;
}
