QWidget {
    font-family: 'Source Sans Pro';
}

#LoginDialog_form QLabel {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 13px;
}

#LoginDialog_form QLabel::hover {
    background-color: rgba(255,255,255,0);
}

#LoginDialog_form QLineEdit {
    border-radius: 0px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding-left: 5px;
}

#LoginDialog_app_version_label {
    color: #9fddff;
}

#LoginDialog_app_version_label::hover {
    background-color: rgba(255, 255, 255, 0);
}

#LoginDialog_form QCheckBox{
    color: #045FB4;
}

QFrame::hover{
    background-color: rgba(255, 255, 255, 0.2);
}
