{
  sources: [
    {
      name: "UserSpecified",
      comment: "use to annotate user input"
    }
  ],

  sinks: [
    {
      name: "RemoteCodeExecution",
      comment: "use to annotate execution of code"
    },
    {
      name: "LocalCodeExecution",
      comment: "use to annotate injection in ui"
    }
  ],

  features: [],

  rules: [
    {
      name: "Possible shell injection",
      code: 5001,
      sources: [ "UserSpecified" ],
      sinks: [ "RemoteCodeExecution" ],
      message_format: "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    },
    {
      name: "Possible xss",
      code: 5002,
      sources: [ "UserSpecified" ],
      sinks: [ "LocalCodeExecution" ],
      message_format: "Data from [{$sources}] source(s) may reach [{$sinks}] sink(s)"
    }
  ]
}
