#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

# Get the codename by splitting the version and taking the part after +
VERSION_CODENAME := $(shell echo $(DEB_VERSION) | cut -d '+' -f 2)

%:
	dh $@

override_dh_auto_install:
	sed -i s/##VERSION_CODENAME##/$(VERSION_CODENAME)/ keyring/apt_freedom_press.sources
	bash ./debian/setup-venv.sh client
	bash ./debian/setup-venv.sh export
	bash ./debian/setup-venv.sh log
	cargo build --release --locked --features qubesdb
	bash ./debian/build-app.sh
	dh_auto_install
	dh_apparmor --profile-name=usr.bin.securedrop-client -psecuredrop-client
	dh_apparmor --profile-name=usr.bin.securedrop-proxy -psecuredrop-proxy

override_dh_install:
	dh_install
	mv debian/securedrop-app/usr/lib/securedrop-app/linux-unpacked/* debian/securedrop-app/usr/lib/securedrop-app/
	rmdir debian/securedrop-app/usr/lib/securedrop-app/linux-unpacked
	rm -rf debian/securedrop-app/usr/lib/securedrop-app/resources/app.asar.unpacked/node_modules/better-sqlite3/deps/
	rm -rf debian/securedrop-app/usr/lib/securedrop-app/resources/app.asar.unpacked/node_modules/better-sqlite3/src/
	rm -rf debian/securedrop-app/usr/lib/securedrop-app/resources/app.asar.unpacked/node_modules/@dbmate/

override_dh_strip_nondeterminism:
	find ./debian/ -type f -name '*.pyc' -delete
	find ./debian/ -type d -name '__pycache__' -delete
	find ./debian/ -type f -name 'pip-selfcheck.json' -delete
	find ./debian/ -type f -name 'direct_url.json' -delete
	find ./debian/ -type f -name 'RECORD' -delete
	dh_strip_nondeterminism $@

# Override debhelper's auto-generated files in `/etc/`
# to force an exact replacement of the files we are installing
override_dh_installdeb:
	dh_installdeb
	for pkg in `dh_listpackages`; do \
		cat /dev/null > ${CURDIR}/debian/$$pkg/DEBIAN/conffiles; \
	done

override_dh_installsystemd:
	dh_installsystemd --name securedrop-log-server
	dh_installsystemd --name securedrop-logging-disabled
	dh_installsystemd --name securedrop-get-secret-keys
	dh_installsystemd --name securedrop-proxy-onion-config
	dh_installsystemd --name securedrop-mime-handling

# chrome-sandbox must be setuid to create new namespaces; see
# https://github.com/chromium/chromium/blob/836ab130/sandbox/linux/README.md#setuid2
override_dh_fixperms:
	dh_fixperms
	chmod 4755 debian/securedrop-app/usr/lib/securedrop-app/chrome-sandbox

override_dh_shlibdeps:
	dh_shlibdeps -psecuredrop-app -ldebian/securedrop-app/usr/lib/securedrop-app
	dh_shlibdeps --remaining-packages --exclude=securedrop-app

override_dh_strip:
	dh_strip --exclude=securedrop-app
