[Unit]
Description=Securedrop Split-GPG Configuration
After=qubes-qrexec-agent.service
ConditionPathExists=/var/run/qubes-service/securedrop-get-secret-keys

[Service]
Type=exec
User=user
ExecStart=/usr/bin/qrexec-client-vm dom0 securedrop.GetJournalistSecretKeys /usr/bin/gpg --import -
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
