[Unit]
Description=Securedrop Split-GPG Configuration
After=qubes-qrexec-agent.service
ConditionPathExists=/var/run/qubes-service/securedrop-get-secret-keys

[Service]
Type=exec
User=user
ExecStart=/usr/bin/securedrop-get-secret-keys
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
