[Unit]
Description=SecureDrop Proxy configuration
ConditionPathExists=/var/run/qubes-service/securedrop-proxy-config

# Both Qubes's qubes-qrexec-agent (for QubesDB) and Tor (for configuration
# directories) must have started *before* this service for it to run
# successfully, since it's a one-shot operation rather than a long-lived service.
Requires=qubes-qrexec-agent.service
After=qubes-qrexec-agent.service
Before=tor.service
Before=tor@default.service

[Service]
Type=oneshot
User=root
ExecStartPre=bash -c "mkdir -p /var/lib/tor/authdir/ && chown debian-tor:debian-tor /var/lib/tor/authdir/"
ExecStart=/usr/bin/template-from-qubesdb /usr/share/securedrop-proxy-config/app_journalist.auth_private.tmpl /var/lib/tor/authdir/app-journalist.auth_private
ExecStartPost=bash -c "chown debian-tor:debian-tor /var/lib/tor/authdir/app-journalist.auth_private && chmod 0600 /var/lib/tor/authdir/app-journalist.auth_private"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target