.reply-box.with-status-icon {
  padding-bottom: 24px;
}

.reply-status-icon {
  position: absolute;
  bottom: 4px;
  right: 8px;
}

.pending-reply-icon {
  color: rgba(0, 0, 0, 0.45);
}

.sent-reply-icon {
  color: rgba(0, 0, 0, 0.45);
}

.seen-reply-icon {
  color: rgba(0, 0, 0, 0.45);
}
