babel
black
flake8
flaky
isort
MarkupSafe
mypy==0.761
pip-tools
PyAutoGUI
pyobjc-core;platform_system=="Darwin"
pyobjc;platform_system=="Darwin"
pytest
pytest-cov
pytest-mock
pytest-qt
pytest-random-order
pytest-vcr
pytest-xdist
semgrep
toml
wlc
