atomicwrites==1.2.1
attrs==18.2.0
black==19.10b0
Click==7.0
coverage==4.5.1
flake8==3.6.0
flaky==3.6.1
isort==4.3.21
MarkupSafe>=1.1
mccabe==0.6.1
more-itertools==4.3.0
pip-tools==4.5.1
mypy==0.761
mypy-extensions==0.4.3
pillow==7.1.2
pluggy==0.13.0
py==1.7.0
PyAutoGUI==0.9.48
pycodestyle==2.4.0
pyobjc-core==6.2;platform_system=="Darwin"
pyobjc==6.2;platform_system=="Darwin"
pyflakes==2.0.0
PyQt5==5.11.3
pytest==5.2.1
pytest-cov==2.8.1
pytest-mock==1.10.0
pytest-qt==3.3.0
pytest-random-order==1.0.4
pytest-vcr==1.0.2
pytest-xdist==1.30.0
pyyaml==5.3.1
sip==4.19.8
typed-ast==1.4.1
vcrpy==4.0.2
