babel
black
flake8
flaky
isort
MarkupSafe
mypy
pip-tools
PyAutoGUI
pyobjc-core;platform_system=="Darwin"
pyobjc;platform_system=="Darwin"
PyQt5==5.11.3
pytest
pytest-cov
pytest-mock
pytest-qt
pytest-random-order
pytest-vcr
pytest-xdist
semgrep
sip==4.19.8
toml
types-python-dateutil
types-setuptools
wlc
