-r requirements.in
babel
black
flake8
flaky
isort
MarkupSafe
mypy
Pillow>=9.0.1  # for mouseinfo, pyscreeze as of CVE-2022-{22817,24303}
pip-tools>=6.8.0  # for jazzband/piptools#1617
PyAutoGUI
pyobjc-core;platform_system=="Darwin"
pyobjc;platform_system=="Darwin"
pyqt5-stubs
pytest>=7.2.0  # CVE-2022-42969
pytest-cov
pytest-mock
pytest-qt>=4.2.0  # to drop requirement of deprecated py package
pytest-random-order
pytest-vcr
pytest-xdist>=3.0.2  # CVE-2022-42969
semgrep
toml
types-python-dateutil
types-setuptools
wlc
