QMenu {
    font-family: 'Source Sans Pro';
    padding: 0.5em 0;
    font-size: 16px;
}

QMenu::item {
    padding: 0.5em 2em;
}

QMenu::item:selected {
    background: darkblue;
    color: white;
}
