#ShowPassphrase_widget QFrame{
    padding: 5px 3px 3px 5px;
}
#ShowPassphrase_widget QLabel{
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 0px 0px 0px 3px;
}

#ShowPassphrase_widget QFrame:hover {
    background-color: rgba(230, 253, 255, 0.2);
}

#ShowPassphrase_widget QLabel:hover {
    background-color: none;
}
