#ModalDialog_button_box QPushButton#ModalDialog_primary_button {
    background-color: #2a319d;
    color: #fff;
}

#ModalDialog_button_box QPushButton#ModalDialog_primary_button:hover {
    background-color: #05a6fe;
    border: 2px solid #05a6fe;
}


#ModalDialog_button_box QPushButton#ModalDialog_cancel_button::hover {
    color: #05a6fe;
    border: 2px solid #05a6fe;
}

#ModalDialog.dangerous #ModalDialog_button_box QPushButton {
    border-color: #ff3366;
    color: #ff3366;
}

#ModalDialog.dangerous #ModalDialog_button_box QPushButton#ModalDialog_primary_button {
    background-color: #ff3366;
    border-color: #ff3366;
    color: #ffffff;
}

#ModalDialog.dangerous #ModalDialog_button_box QPushButton#ModalDialog_primary_button:hover {
    background-color: #de043b;
    border-color: #ff3366;
}

#ModalDialog.dangerous #ModalDialog_button_box QPushButton#ModalDialog_cancel_button:hover {
    background-color: #de043b;
    border-color: #ff3366;
    color: #ffffff;
}


#ModalDialog_button_box QPushButton#ModalDialog_primary_button::disabled {
    border: 2px solid #c2c4e3;
    background-color: #c2c4e3;
    color: #e1e2f1;
}

#ModalDialog_button_box QPushButton#ModalDialog_primary_button_active {
    background-color: #f1f1f6;
    color: #fff;
    border: 2px solid #f1f1f6;
    margin: 0;
    height: 40px;
}
