name: app
on:
  - merge_group
  - push
  - pull_request

# Only build for latest push/PR unless it's main or release/
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release/' ) && !startsWith( github.ref, 'refs/heads/gh-readonly-queue/' ) }}

defaults:
  run:
    shell: bash

permissions: {}

jobs:
  lint-and-build:
    strategy:
      matrix:
        debian_version:
          - bookworm
    runs-on: ubuntu-latest
    container: debian:${{ matrix.debian_version }}
    steps:
      - name: Install base dependencies
        run: |
          apt-get update && apt-get install --yes git make
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: npm
          cache-dependency-path: app/package-lock.json
      - name: Install npm dependencies
        working-directory: app
        run: |
          npm ci
      - name: Lint
        working-directory: app
        run: |
          npm run lint
      - name: Build
        working-directory: app
        run: |
          npm run package
