name: SDK
on:
  - merge_group
  - push
  - pull_request

# Only build for latest push/PR unless it's main or release/
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' && !startsWith( github.ref, 'refs/heads/release/' ) && !startsWith( github.ref, 'refs/heads/gh-readonly-queue/' ) }}

defaults:
  run:
    shell: bash

jobs:
  sdk-with-server:
    runs-on: ubuntu-latest
    env:
      DOCKERIZE_VERSION: "v0.7.0"
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: "freedomofpress/securedrop"
          path: "securedrop-server"
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install poetry==1.6.1
      - name: Run tests without VCR cassettes
        run: |
          # Start the server in the background
          NUM_SOURCES=5 LOADDATA_ARGS="--random-file-size 3" make -C securedrop-server dev &
          # And install deps
          poetry -C client install --no-ansi
          # Wait for server to come up
          echo "Polling with curl --silent until the server is up..."
          while ! curl --silent --fail --output /dev/null http://127.0.0.1:8080; do sleep 5; done
          # Run tests
          make -C client regenerate-sdk-cassettes
